@import  '../../constants/main';

.clearPadding {
  padding: 0px;
}

.selected {
  @extend .clearPadding;
}

.block {
  @extend .clearPadding;
  background-color: inherit;
  text-align: left;
  cursor: inherit;
  box-sizing: inherit;
  color: $segmentText;
  border-radius: 0;
  padding-left: 0px;
}

.block:hover {
  z-index: 100;
  cursor: pointer;
}

.padNumber {
  padding-top: 4px;
}

.selectedPadding {
  padding: $padding-large 0;
}

.normalPadding {
  padding: 10px 0;
}