@import  '../../constants/main';

.clearPadding {
  padding: 0px;
}

.selected {
  @extend .clearPadding;
  border-width: $fullborder;
  border-style: solid;
  border-color: $orange;

}

.block {
  @extend .clearPadding;
  background-color: inherit;
  text-align: left;
  cursor: inherit;
  box-sizing: inherit;
  color: $segmentText;
  border-width: $fullborder;
  border-style: solid;
  border-color: $lightsilver;
  border-radius: 0;
  padding-left: 0px;
}

.block:hover {
  border-width: $fullborder;
  border-style: solid;
  border-color: $darkslategrey;
  z-index: 100;
  cursor: pointer;
}

.padNumber {
  padding-top: 4px;
}

