.mainContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.segmentList {
  background-color: #F0F2F2
}

.linkBlock {
  padding: 10px;
  width: 520px;
  background-color: lightcoral;
}

.link {
  color: black;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap
}

.selected {
  border: solid 1px #3eafbc !important;
}

.block {
  margin: 20px 50px 20px 50px;
  max-width: 550px;
  font-size: 1.5rem;
  color: black;
  padding: 20px;
  border: solid 1px #ced6d6;
}

.block:hover {
  border-color: #f8b345;
}

.segmentWrapper {
  display: flex;
  flex-flow: row nowrap;
}

.segmentId {
  padding-top: 4px;
  padding-right: 8px;
}

.segment {
  margin: 0 20px;
}

.something {
  margin: 10px 10px;
}