@import '../../constants/variables';


.RichEditor-editor {
  background: $segmentBackground;
  border: $textAreaBorder;
  border-radius: $textAreaRadius;
  font-family: $textAreaFont;
  font-size: $editorFontSize;
  padding: $segmentPadding;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #222;
  font-family: sans-serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
  font-size: 1em;
  padding: 20px;
}

.RichEditor-controls {
  font-family: sans-serif;
  font-size: 1em;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #222;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
  margin-bottom: 1px;
  font-size: .8em;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.summary {
  width: 70%;
  font-size: 12px;
}

// .summary:before {
//   content: "\25B8"; /* unicode character of the litle triangle  */
//   color: #000;
//   margin-right: 5px;
// }

.focus {
  border-color: darken($borderSelected, 12%);
}

.label {
  position: relative;
  margin-left: -70px;
  top: -18px;
  margin-bottom: -30px;
}

.styles {
  position: relative;
  right: -582px;
  top: -14px;
}

.voice {
  position: relative;
  right: -582px;
  top: 32px;
}

.styleBox{
  margin-bottom: 6px;
}