@import '../../constants/variables';

.card {
  color: white;
  display: block;
  background-color: $darkslategrey;
  margin: $segmentMargin;
  padding: $cardPadding;
  border-radius: $segmentRadius;
}

.link {
  color: white;
}

.link:hover {
  text-decoration: underline;
}
