@import '../../constants/variables';

.center {
  margin-top: $padding-header;
}

.card {
  position: relative;
  color: white;
  display: block;
  background-color: $darkslategrey;
  padding: 10px 20px;
  margin-top: 40px;
  padding: 16px 40px 30px 30px;
  border-radius: 4px;
}

.link {
  color: white;
}

.link:hover {
  text-decoration: underline;
}
