body {
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: baseline;
  background-color: #f8b345;
}

.headingItem {
  padding: 0 15px 0 15px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em; 
  -webkit-margin-start: 0px; 
  -webkit-margin-end: 0px;
}

.headingItemActive {
  background-color: #f8b345;
}

.heading > a {
  display: block;
  text-decoration: none;
  color: black;
  border-style: solid;
  border-width: 0 1px 0 1px;
}

.kanjingo {
  
  font-weight: bold;
}

.colwrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

typeahead {
  font-family: 'ff-tisa-web-pro', serif;
  padding: 0 6.25px;
  border: 2px solid #ced6d6;
  outline: none;
}
