body {
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.colwrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

typeahead {
  font-family: 'ff-tisa-web-pro', serif;
  padding: 0 6.25px;
  border: 2px solid #ced6d6;
  outline: none;
}
