@import 'variables';

body {
  font: 100% $font-stack;
  background-color: $background;
  font-family: $font-stack;
  height: 100%;
}

.content {
  padding: $padding-header 0 0;
}

.setPadding {
  padding-left: $padding-med;
  padding-top: $padding-med;
}

.centerContent {
  padding-left: $padding-med;
  padding-top: $padding-tiny;
}

.parentWidth {
  max-width: 100%; 
}

.fixedWidth {
  resize: vertical;
}

/* Just different types of borders*/
.borderBox {
  border: $borderBox
}

.borderBottom {
  border-style: solid;
  border-color: $bordercolor;
  border-width: 0 0 1px 0;
}

.groupItem {
  padding-left: $padding-tiny;
  padding-bottom: $padding-mini;
}

/* used for making icons inline with  text*/
.fixTop {
  position: relative;
  top: 6px;
}

.fixFont {
  font-size: 1em;
}

.textInline {
  display: inline;
}

.fullWidth {
  width: 100%;
}

.clearPadding {
  padding: 0 0 0 0;
}

.clearPaddingBottom {
  padding-bottom: 0;
}

.clearPaddingLeft {
  padding-left: 0;
}

.clearMarginTop {
  margin-top: 0;
}

.clearButton {
  display: block;
  margin: 0;
  margin-bottom: inherit;
  border-radius: 0;
  box-sizing: inherit;
}

.clearButtonLeft {
  display: block;
  margin: 0;
  margin-bottom: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; 
  box-sizing: inherit;
}

.clearButtonRight {
  display: block;
  margin: 0;
  margin-bottom: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; 
  box-sizing: inherit;
}

.clearMarginLeft {
  margin-left: 0;
}
.clearMarginRight {
  margin-right: 0;
}

.buttonMargin {
  margin-bottom: $margin-small;
}

.smallMargin{
  margin-right: $margin-small;
}

.paddingInlineWithNavRight {
  padding-right: $padding-from-right-nav
}

.whiteBackground {
  background-color: $white;
}

.fixedSmallWidth {
  width: 80px;
}

.buttonList {
  float: left;
  margin-left: -68px;
}

.fixedPosition {
  position: fixed;
}

label > h4 {
  display: inline;
}

.error {
  color: darken($error, 20%);
}

.button:hover {
  i {
    border-width: 0 0 1px 0;
    color: #4285f4;
    border-color: #4285f4;
  }

  svg {
    path {
      fill: #4285f4;
    }
    border-width: 0 0 1px 0;
    border-color: #4285f4;
  }
}

.button {
  i {
    border: solid;
    padding-bottom: 6px;
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, 0.0);
  }
}

.button {
  background: #eee;
  color: #333333;
}

.highlight {
  background-color: $orange;
}