$font-stack: sans-serif;

$background: #eee;

$salmon: #fb5f76;
$orange: #fab300;
$lightseagreen: #04bfaf;
$mediumorchid: #c568d5;
$darkslategrey: #2d3b55;
$lightsilver: #e8e9ec;
$kanjbackground: #4c566c;
$logo: #333333;

$padding-small: 32px;
$padding-med: 80px;
$padding-header: 48px;
$padding: 100px;
$padding-large: 140px;

$margin-small: 12.5px;

/* nav bar constants */
$tab-padding: 1em 0.8em;
$logo-nav-width: 18px;

/* home constants */
$logo-size: 2em;

/* project constants*/


/* Sidebar constants*/
$padding-border: 22px;
$bordercolor: #ced6d6;