@import '../../constants/variables';

.wrapper {
 padding: 0;
}

.home {
  padding: $padding-header $padding-med $padding-large $padding-med;
  background-color: $darkslategrey;
  color: white;
}
@media (max-width: 600px) {
  .home {
    padding: $padding-header $padding-header $padding-large $padding-header
  }
}
.img {
  width: $logo-size;
  height: $logo-size;
}

.extend {
  min-height: 86.6%;
  background-color: $lightsilver;
  color: $kanjbackground;
  padding: 0 10px;
  left: 0px;
  position: absolute;
}

.description {
  padding: $padding-header 0;
}

.box {
  padding-left: 2.5em;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 10em;
  }
}

.box1 {
  padding-left: 2.5em;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 8em;
    padding-top: 2em;
    margin-bottom: 2em;
  }
}

.minTitle {
  display: inline-block;
  min-width: 200px;
}