@import '../../constants/variables';

.save {
    position: initial;
    padding: $segmentPadding;
    font-size: $smallFont;
    color: $kanjbackground;
  }

@media (min-width: 500px) {
  .save {
    position: fixed;
    z-index: 10000;
    top: 2px;
    left: 24%;
    font-size: $smallFont;
    color: $kanjbackground;
  }
}