.saveButton {
  display: inline;
  position: fixed;
  top: 62px;
  left: 4%;
  font-size: 1em;
  width: auto;
  padding: 2px 6px 4px 6px;
}

.icon {
  position: relative;
  margin-top: -6px;
}

.save {
    position: initial;
    padding: 15px;
    font-size: 12px;
    color: #4c566c;
  }

@media (min-width: 500px) {
  .save {
    position: fixed;
    z-index: 10000;
    top: 2px;
    left: 24%;
    font-size: 12px;
    color: #4c566c;
  }
}