@import '../../constants/variables';

.container {
  height: calc(100vh - #{$padding-header});
}

.fixed {
  position: fixed;
  width: inherit;
  overflow-y: scroll;
  padding: 0 10px;
  height: inherit;
}

.button {
  font: inherit;
  width: 100%;
  font-size: 13px;
  box-shadow: none;
  background: none;
  color: inherit;
  text-align: left;
  
}
.segment {
  @extend .button;
}

.selected {
  @extend .button;
  color: $greenText;
}