@import '../../constants/variables';

.dropzone {
  background-color: rgba(197,104,213, .1);
  border: $dropzoneBorder;
  border-radius: $segmentRadius;
  padding: $dropzonePadding;
  color: $dropzoneColor;
  text-align: center;
  line-height: 1.2em;
  margin: $dropzoneMargin;
  font-size: $dropzoneFontSize;
}