.commentInput {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.commentButtons {
  display: inline-block;
  margin-right: 20px;
}

.commentButton {
  margin-right: 20px;
}

.overflow {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 500px;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.format {
  margin-bottom: 20px;
  padding-right: 10px;
  width: 100%;
}