.chatInputWrapper {
  display: flex;
}

.micImg {
  /* position: absolute;
  width: 38px;
  height: 38px;
  right: 0px;
  top: -6px; */
  height: 50px;
  padding: 0px;
  cursor: pointer;
}
.chatMessageInput {
  position: relative;
  width: 80%;
  top: -19px;
  background-color: #ffffff;
  padding: 5px 10px;
  margin: 0;
  border-radius: 2px;
  border: 1px solid #e5e9ec;
  transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
  outline: 0;
  height: 60px;
  box-sizing: border-box;
}

.buttons {
  margin-left: 30px;
  align-self: baseline;
}

.button {
  padding: 1px 20px;
  padding-top: 5px;
  margin-bottom: 4px;
  height: 24px;
}

.icon {
  font-size: 14px;
}

.editor {
  scroll-behavior: smooth;
  margin-top: 30px;
  min-width: 250px;
  min-height: 80px;
  height: 100px;
}

.removeStyles {
  box-shadow: none !important;
  background: #ffffff;
  color: rgba(0, 0, 0, 0);
  margin: 0px;
  padding: 0px;
  height: 50px;
}