@import '../../constants/variables';

.wrapper {
  background-color: white;
  margin-right: 0px;
  padding: 15px;
  border: 1px solid $borderColor;
}

.format1 {
  margin: 20px;
  display: inline-block;
};

.format {
  margin: 6px;
  padding: 20px;
  display: inline-block;
  background-color: $background;
};

.selected {
  border-width: 1px;
  border-style: solid;
  border-color: $borderSelected !important;
}

.wrapper:hover {
  border-width: $fullborder;
  border-style: solid;
  border-color: $borderHover;
}

#checkboxes input[type=checkbox]:checked + .whatever{
    background-color: green;
}

.edited {
  border-width: 1px;
  border-color: green;
}

.tick {
  float: right;
  color: green;
  font-size: 14px;
}

.whatever{
    background-color: red;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.check {
    display: none;
}

.check:checked + .format{
    background-color: $orange;
}

.inlineBlock {
  display: inline-block;
}

.inserted {
  background-color: $orange;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}