@import '../../constants/variables';

.wrapper {
  background-color: white;
  margin-right: 0px;
  padding: 15px;
  border: 1px solid $borderColor;
}

.format1 {
  margin: 20px;
  display: inline-block;
};

.format {
  margin: 2px;
  padding: 4px;
  display: inline-block;
  background-color: $background;
};

.selected {
  border-width: 1px;
  border-style: solid;
  border-color: $borderSelected !important;
}

.wrapper:hover {
  border-width: $fullborder;
  border-style: solid;
  border-color: $borderHover;
}