@import '../../constants/variables';

.wrapper {
  background-color: $segmentBackground;
  padding: $segmentPadding;
  border: $normalSegmentBorder;
  word-break: break-word;
  border-radius: $segmentRadius;
  margin-top: $segmentGap;
}

.selected {
  border: $selectedSegmentBorder;
  word-break: break-word;
}

.targetSpacing {
  margin: $targetWindowSpacing;
}

#checkboxes input[type=checkbox]:checked + .whatever{
    background-color: green;
}

.edited {
  border-width: 1px;
  border-color: green;
}

.tick {
  float: right;
  color: green;
  font-size: 16px;
}

.whatever{
    background-color: red;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.check {
    display: none;
}

.check:checked + .format{
    background-color: $orange;
}

.inlineBlock {
  display: inline-block;
}

.inserted {
  background-color: $orange;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// .box {
//   border-color: #8AA9E2;
// }

// .editorWrapper {
//   background: #fff;
//   border: 1px solid #8AA9E2;
//   font-family: sans-serif;
//   font-size: 1em;
//   padding: 15px 15px 8px 15px;
// }

.editorWrapper {
  margin-top: $segmentGap;
}

.number {
  position: relative;
  margin-left: $segmentNumberLeft;
  margin-bottom: $segmentNumberBottom;
}

.hide {
  opacity: 0.5;
}

.hide:hover {
  opacity: 1;
  div {
    border: $segmentBorderHover;
  }
}