.segmentWrapper {
  display: flex;
  flex-flow: row nowrap;
}

.wrapper {
  background-color: white;
  margin-right: 0px;
  margin-top: 5px;
  line-height: 1.24em;
  padding: 6px 8px;
  border: 1px solid #ddd;
}

.editorWrapper {
  padding: 0px;
  margin: 0px;
  line-height: 1.24em;
}

.format {
  font-size: 18px;
  flex-flow: column nowrap;
  width: 100%;
};