@import '../../constants/variables';

.container {
  padding-left: 0px;
}

.tile {
  padding: $tileTextPadding;
  margin-right: $tileSpaceAfterText;
  display: inline;
}

// Source Tile format
.format {
  padding: $sourceTilePadding;
  margin: $tileMargin;
  display: inline-block;
  background-color: $tileColor;
};

// Target Tile format
.format1 {
  padding: $targetTilePadding;
  margin: $tileMargin;
  display: inline-block;
  background-color: $tileColor;
};

.inlineBlock {
  display: inline-block;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check {
  display: none;
}

.check:checked + .format{
  background-color: $orange;
}

.check:checked.dragging{
  background-color: black;
}

#checkboxes input[type=checkbox]:checked {
  background-color: green;
}

span.grippy {
  content: '....';
  width: 22px;
  height: 23px;
  display: inline-block;
  overflow: hidden;
  line-height: 4px;
  padding: 3px 0px;
  cursor: move;
  vertical-align: middle;
  margin-top: -.7em;
  margin-left: 0px;
  font-size: 13px;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: black;
  opacity: 0.35;
}
span.grippy::after {
  content: '.. .. .. ..';
}

.closeButton {
  background: none;
  padding: 0px;
  margin: 0px;
  margin-right: -10px;
  top: -2px;
  position: relative;
  left: 6px;
  color: #7e7e7e;
  height: 18px;
  @extend .faded;
}

.closeButton > i {
  font-size: $tileClose
}

.closeButton:hover {
  color: $error;
  @extend .solid;
}

.text {
  display: inline;
}

.text:hover {
  cursor: text;
}