@import '../../constants/variables';

.format {
  margin: 6px;
  padding: 10px 12px;
  display: inline-block;
  background-color: #e4eafa;
};

.inlineBlock {
  display: inline-block;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check {
  display: none;
}

.check:checked + .format{
  background-color: $orange;
}

.check:checked.dragging{
  background-color: black;
}

#checkboxes input[type=checkbox]:checked {
  background-color: green;
}