.button:hover {
  i {
    border-width: 0 0 1px 0;
    color: #4285f4;
    border-color: #4285f4;
  }
}

.button {
  i {
    border: solid;
    padding-bottom: 6px;
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, 0.0);
  }
}

.button {
  background: #eee;
  color: #333333;
}