@import '../../constants/variables';

.buttonList {
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

@media (min-width: $small) {
  .buttonList {
    margin: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: initial;
    align-items: flex-start;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .tiny-1200 {
    width: 6%;
    display: block;
  }
}