@import '../../constants/variables';

.tableBorder {
  border: $borderBox;
}

.tableRowHeight {
  height: $tableRowHeight;
  width: $tableRowWidth;
}

.documentFilename {
  text-decoration: none;
  color: $black;
}

.documentFilename:hover {
  color: $link-hover;
}

