.wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin: 100px 200px
}

.table {
  padding-right: 15px;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid silver;
}
thead {
  padding-bottom: 8px;
}

.tableData {
  padding: 12.5px;
}

.rowWrapper {
  height: 60px;
  border: 1px solid silver;
}

.documentFilename {
  text-decoration: none;
  color: black;
}

.documentFilename:hover {
  color: #483a66;
}

.enforce-height {
  text-align: center;
}

.documentSelect {
  margin: 0 10px;
  height: 60px;
  width: 60px;
}

.documentTitle {
  
}

.thDocumentTitle {
  width: 33%;
}

.thPadding {
  padding-bottom: 12.5px;
}