@import '../../constants/variables';

.visable {
  display: block;
}

.invisable {
  display: none;
}

form {
  input {
    margin-bottom: 10px;
    color: $darkslategrey;
  }
}

.groupItem {
  padding-left: 12.5px;
  padding-bottom: 0.6em; 
}

.checkable {
  @extend .checkable;
  background-color: white;
}

form {
  label {
    span::before {
      background-color: white;
    }
  }
}
