@import '../../constants/main';

.password_validator {
  position: relative;
  top: -205px;
  left: 385px;
  background-color: white;
}

.password_validator:after {
  display: block;
  position: absolute;
  top: 30px;
  left: -10px;
  content: '';
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
}

.visable {
  display: block;
}

.invisable {
  display: none;
}