@import '../../constants/main';

.password_validator {
  position: relative;
  width: 300px;
  padding: 10px;
  top: 5px;
  left: 0px;
  background-color: white;
  color: black;

}

// .password_validator:after {
//   display: block;
//   position: absolute;
//   top: 80px;
//   left: -10px;
//   content: '';
//   border-top: 10px solid transparent;
//   border-bottom: 10px solid transparent;
//   border-right: 10px solid white;
// }

.visable {
  display: block;
}

.invisable {
  display: none;
}