@import '../../constants/variables';

.side {
  border: $borderleft;
}

.aside {
  min-width: 160px;
}

.sideOptions {
  padding-left: $padding-tiny;
  
}

.sectionPadding {
  padding-left: $padding-tiny;
}